    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Eder Cervantes</h2>
              <br/>
                <p>Eder Cervantes is a Computer Engineering graduate from San José State University. He is currently working as a cloud engineer for Oracle. He is a technologist; looking to make the world better by building it, one tool at a time.</p>
                <br/>
              </div>
        </div>
    </section>
